$color-primary: #3c5b6f;
$color-secondary: #153448;
$border-color: #302c3f;
$text-color: #fff;
$gradient: linear-gradient(270deg, #c5ff95, #074173);
$main-contrast: #ff4980;
$contrast-1: #948979;
$contrast-2: #dfd0b8;

$black: #020617;
$black-bg: #0f172a;

// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
