@use "/src/sass/variables" as v;

.Hero {
  &__title {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.05em;
    background-color: v.$contrast-2;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
  }

  &__legend {
    font-size: 2rem;
    text-align: center;
  }
}
